@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Import Google Fonts */
.load-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;

}
.loading-screen{
  position: relative;
  background-color: #9381FF;
  width: 0%;
  height: 100%;
  z-index: 9999;
}
/* <!-- -------------------------------pre loader------------------------------------  --> */
.loader-container {
    z-index: 9999;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #9381FF;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #9381FF;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* <!-- -------------------------------basic set up-------------------------------------  --> */

body{
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    /* cursor: none !important; */
}
button,
a{
    cursor: pointer !important;
}
/* <!-- -------------------------------header-------------------------------------  --> */
.home-section{
  background: radial-gradient(circle, #434343 -90%, #000000 100%);
  /* background: #5b78c7; */
  /* background: #0F2027;  fallback for old browsers */
/* background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to top, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */

}
.banner-img{
  width: 350px;
}
.banner-text{
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 10px 5px #000;

}
.banner-text-1{
  font-size: 80px;
}
.banner-text-2{
  font-size: 60px;
}
.square-div{
  display: inline-block;
  border: 1px solid #ffffff50;
  width: 240px; 
  height: 240px;
}
.cursor{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: all .3s ease-out;
  /* transition-property: transform ; */

}
.cursor-outer{
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
}
.cursor-inner{
  width: 7px;
  height: 7px;
  background: #fff;
}
.cursorHover{
  width: 70px;
  height: 70px;
  border-color: transparent;
  border-radius: 5px;
  background: #fff;
  mix-blend-mode:difference;
}
/* .banner-text:hover ~ .cursor-inner{

} */
.bounce{
  /* cursor: pointer !important; */
  text-shadow: 1px 10px 5px #000;
  /* color: var(--bs-primary); */
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  /* animation: animate 1s;  */
  transition: .3s linear;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
      transform: scale(1, 1);
  }
  40% {
      transform: scale(1.75, 0.65);
  }
  45% {
      transform: scale(1.75, 0.65);
  }
  70% {
      transform: scale(1.25, 0.75);
  }
  90% {
      transform: scale(1.15, 0.85);
  }
}
@keyframes animate{
  25%{
      transform: scale(0.8,1.3);
  }
  50%{
      transform: scale(1.1,0.8);

  }
  75%{
      transform: scale(0.7,1.2);
  }
}
.cursorHoverNav{
  width: 100px;
  height: 100px;
  border-color: transparent;
  border-radius: 50%;
  background: #fff;
  mix-blend-mode:difference;
}
.nav-link{
  transition: .3s linear;
}
.nav-link:hover{
  transition: .3s linear;

}
.hamburgerMenuContainer {
  position: fixed;
  right: 30px;
  top: 10px; 
  cursor: pointer;
  z-index: 99;
}

.hamburger {
  height: 3px;
  background-color: #cdedf6;
  margin: 3px 0px;
  border-radius: 5px;
}
.line1 {
  width: 20px;
}
.line2{
  width: 40px;
}
.line3{
  width: 30px;
}
.line1,
.line2,
.line3,
.overlayMenu{
  transition: all .5s ease;
}

.hideLine2 {
  opacity: 0;
}

.rotatePlus45Deg {
  width: 30px;
  transform:rotate(45deg) translate(4px, 9px);
}

.rotateMinus45Deg {
  transform: rotate(-45deg) translate(4px, -9px);
} 
.overlayMenu {
  width: 100vw;
  height: 100vh;
  /* background-color: #042a2b; */
  /* background-color: #453371; */
  background-color: #203A43;
  position: fixed;
  left: 0;
  top: 0;
  /* opacity: 0; */
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: right;
  clip-path: circle(10px at 90% -10%);
  z-index: 1;
  transition: all .5s ease-in-out;

}

.showOverlayMenu {
  /* opacity: 1; */
  transition: all .5s ease-in-out;
  clip-path: circle(2000px at 90% -10%);


}

li {
  list-style: none;
  transition: transform .3s linear;
}
li a{
  display: inline-block;
  text-decoration: none;
  font-size: 50px;
  padding: 5px !important;
  margin: 5px !important;
  user-select: none;
  cursor: pointer;
  -webkit-text-stroke: 1px #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  color: transparent;
  transition: all .5s ease;
}

li a:hover {
  color: #fff !important;
}

.moveLiTagUp {
  transform: translateY(-30px);
}

.filterBtn{
  color: #ffffff50;
  border: 1px solid transparent;
}
.filterBtn .filterArrow{
  display: none;
}
.filterBtn.active{
  color: #fff;
  transition: .3s linear;

}
.filterBtn.active .filterArrow{
  display: initial;
}
.projectBox {
  height: 300px;
  transition: all .3s ease;
}
.projectGithub,
.projectGithub .githubIcon{
  cursor: none !important;
}
.projectGithub:hover{
  background: #fff !important;
  color: #000 !important;
  transform: scale(1.5);
  transition: .3s linear !important;
}
/* .projectBox:hover{
  transform: scale(1.3);
} */
.projectImage{
  /* visibility: hidden; */
  /* transform: scale(1); */
  /* backdrop-filter: blur(3px); */
  filter: blur(3px);
  filter: brightness(.4);
  height: 260px !important;
  transition: all .5s ease-in-out;

}
.projectImage:hover{
  filter: blur(1px);
  filter: brightness(1);
}
.projectBox:hover .projectImage{
  /* visibility: visible; */
  /* transform: scale(2); */
  top:0% !important;
  transition: all .5s ease-in-out;
}
.projectViewDetail{
  height: 40px;
}
/* .projectGithub{
  
} */
.projectBox:hover .projectGithub{
  /* visibility: visible; */
  /* transform: scale(2); */
  left:15px !important;
  transition: all 1s ease-in-out;
}
.projectBox:hover .projectViewDetail{
  /* visibility: visible; */
  /* transform: scale(2); */
  left:0% !important;
  transition: all 1s ease-in-out;
}
.projectBox.hide {
  display: none !important;
}
.projectBox.show {
  animation: animateProjectBox 0.4s ease;
}

@keyframes animateProjectBox {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.projectTitle{
  /* font-weight: bold !important; */
  letter-spacing: 3px;
  word-spacing: 10px;
  /* color: #fff; */
  cursor: none !important;
  /* -webkit-text-stroke: 1px transparent; */
  background: linear-gradient(to right, #fff 50%, #000 50%, #000);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}
.projectTitle:hover{
  -webkit-text-stroke: 1px #fff;
  background-position: -100%;
  transition: all .5s ease;

}
.cursorHoverProject{
  width: 400px;
  height: 260px;
  border-color: transparent;
  border-radius: 20px;
  /* background: #fff; */
  background: url('../image/Frame1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: difference;
  /* mix-blend-mode:difference; */
}
.cursorHoverGoLink{
  width: 100px;
  height: 100px;
  border-color: transparent;
  border-radius: 50%;
  background: #ffffff99;
  /* mix-blend-mode:darken; */
}
.innerCursorHoverGoLink{
  background: transparent;
}
.cursor-inner .cursor-text{
  color: #fff;
  display: none;
  z-index: 2000 !important;
}
.cursor-text-show{
  display: block !important;
}
/* <!-- -------------------------------responsive-------------------------------------  --> */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  html,body{
    overflow-x: hidden !important;
  }
  body{
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden ;
  }
  /* #wrapper {position: absolute; width: 100%; overflow-x: hidden} */
  .banner-text-1 {
    font-size: 30px;
  }
  .banner-text-2{
    font-size: 10px;
  }
  .banner-text-container h3{
    font-size: 10px;
  }
  .square-div{
    width: 150px;
    height: 150px;
  }
  .banner-img{
    width: 240px !important;
  }
  .banner-space{
    margin:0 0 0 10px !important;
  }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  html,body{
      overflow-x: hidden !important;
  }
  .banner-text-1 {
    font-size: 50px;
  }
  .banner-text-2{
    font-size: 30px;
  }
  .banner-text-container h3{
    font-size: 20px;
  }
  .square-div{
    width: 200px;
    height: 200px;
  }
  .banner-img{
    width: 250px;
  }
}
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  html,body{
      overflow-x: hidden !important;
  }

}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  html,body{
      overflow-x: hidden !important;
  }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
  html,body{
      overflow-x: hidden !important;
  }
}